@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInput {
    background: transparent;
  border-radius: 0.375rem;
  border: rgb(209 213 219) 1px solid;
  padding: 0.055rem 0 0.055rem 0.375rem;
}

.PhoneInput:focus {
  border: none;
  outline: none;
}

.PhoneInputInput {
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
  outline: none;
}
.css-qbdosj-Input{
    display: none !important;
}

.importantWidth{
    width: 100% !important;
}

.h-100vh-important{
    height: 100vh !important;
}

@media screen and (min-width: 640px) {
  .PhoneInputInput {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
}
